<% if (title) { %>
    <h1><%= title %></h1>
<% } else { %>
    <script>
        window.location.href = "/";
    </script>
<% } %>

<% errors = (typeof errors !== 'undefined' && errors !== null) ? errors : [] %>
<% if (errors.length > 0) { %>
    <ul class="notice">
        <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<div class="management">
    <%- messages() %>
    <form id="updateForm" action="/review/update" method="post">
        <div>
            <label for="review_date">Review Date:</label>
            <input type="text" id="review_date" name="review_date" value="<%= locals.review_date %>" readonly>
        </div>
        <div>
            <label for="review_text">Review Text:</label>
            <textarea id="review_text" name="review_text" minlength="10"><%= locals.review_text %></textarea>
            <span>Review must be at least 10 characters long.</span>
        </div>
        <div>
            <button type="submit" disabled>Update Review</button>
            <input type="hidden" name="review_id" value="<%= review_id %>">
        </div>
    </form>
</div>
<script src="/js/inv-update.js"></script>